# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "8de2b02dfd27e5a76ebfed691f41deba"
name = "vivollo-ai-chatbot"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_legal_policies,read_content,read_online_store_pages,read_products,read_inventory,read_locations,read_orders,read_fulfillments,write_customers,read_customers"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
